:root {
  --bg-black: #232324;
  font-family: Inter, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#zoom-buttons-container {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#control-panel {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 1rem;
  left: 50vw;
  z-index: 10;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}


aside{
  position: absolute;
  top:0;
  left: 100%;
  width:40%;
  height:100%;
  overflow-y: scroll;
  

  background-color: #000;
  color: #fff;
  transition: all 0.5s ease;

  &.active{
    left:60%;

    & #back-arrow{
      position: sticky;
    }
  }

  & #back-arrow{
    position:absolute;
    top:2rem;
    line-height: 0;
    font-size: 2rem;
    cursor:pointer;
    padding-left: 1rem;
  }

  & img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit:cover;
  }

  & p, h2{
    padding: 0 1rem;
  }
}