:root {
  --bg-black: #232324;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

canvas {
  display: block;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#zoom-buttons-container {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
