:root {
  --bg-black: #232324;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

canvas {
  display: block;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#zoom-buttons-container {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#control-panel {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 1rem;
  left: 50vw;
  z-index: 10;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
