:root {
  --bg-black: #232324;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

.biz-udmincho-regular {
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Fraktion Sans";
  src: url("public/assets/fonts/PPFraktionSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#zoom-buttons-container {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#control-panel {
  width: 30rem;
  padding: 0.5rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-family: "PP Fraktion Sans", sans-serif;
  text-align: center;
  outline: 1px solid white;
}

#search-results {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  bottom: 3rem;
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 400px;
  overflow-y: auto;
}

#search-results li {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  height: 3rem;
  list-style: none;
}

#search-genre-list,
#search-band-list {
  padding: 0;
  margin: 0;
}

#search-genre-list li:hover,
#search-band-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

#search-results ul p {
  padding-left: 1rem;
  padding-right: 1rem;
}

#central-panel {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  gap: 2rem;
}

#search-bar {
  width: 80%;
  height: 2rem;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2.5rem;
  font-family: "PP Fraktion Sans", sans-serif;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

#buttons-panel {
  width: 20%;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 1.5rem;
  border-radius: 0.5rem;
}

.band-text {
  font-family: "PP Fraktion Sans", sans-serif;
}

.genre-text {
  font-family: "BIZ UDMincho", serif;
}

#selected-panel {
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  height: 1.5rem;
  width: 60%;
  bottom: 4.1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  outline: 1px solid white;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

#eye-icon {
  margin-top: 0.15rem;
  width: 0.75rem;
}

#selected-panel-text {
  font-family: "PP Fraktion Sans", sans-serif;
  font-size: 0.75rem;
}

aside {
  position: absolute;
  top: 0;
  left: 100%;
  width: 40%;
  height: 100%;
  overflow-y: scroll;

  background-color: #000;
  color: #fff;
  transition: all 0.5s ease;

  &.active {
    left: 60%;

    & #back-arrow {
      position: sticky;
    }
  }

  & #back-arrow {
    position: absolute;
    top: 2rem;
    line-height: 0;
    font-size: 2rem;
    cursor: pointer;
    padding-left: 1rem;
  }

  & img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  & p,
  h2 {
    padding: 0 1rem;
  }
}

.spread-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  pointer-events: none;

  & .country-div {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & .bar {
    display: inline-block;
    height: 1rem;
    background-color: #ddd;
  }
}
