:root {
  --bg-black: #232324;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}

#main-container {
  width: 100%;
  height: 100%;
}
